[Unit]
Description=Kiosk Mode (Chromium)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=lautaro
Group=lautaro
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/kiosk.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target